<div class="container">
        <mat-tab-group>
            <mat-tab label="All">
                <div class="container my-container">
                    <div class="row" style="margin-top: 30px;">
                        <app-book-list-item class="col-md-5"></app-book-list-item>
                        <app-book-list-item class="col-md-5"></app-book-list-item>
                        <app-book-list-item class="col-md-5"></app-book-list-item>
                        <app-book-list-item class="col-md-5"></app-book-list-item>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Recommended">
                <div class="container" style="margin-top: 30px;">
                    <div class="row">
                        <app-book-list-item class="col-md-5"></app-book-list-item>
                        <app-book-list-item class="col-md-5"></app-book-list-item>
                        <app-book-list-item class="col-md-5"></app-book-list-item>
                        <app-book-list-item class="col-md-5"></app-book-list-item>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
</div>
