<div class="container">
    <mat-tab-group>
        <mat-tab label="All">
            <div class="container my-container">
                <div class="row" style="margin-top: 30px;">
                    <!-- Display books sorted by Title prop -->
                    <app-book-list-item class="col-md-6" *ngFor="let bookItem of booksListByTitle" [setBookItem]="bookItem"></app-book-list-item>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Recommended">
            <div class="container my-container">
                <div class="row" style="margin-top: 30px;">
                    <!-- Display books sorted by Author's name-->
                    <app-book-list-item class="col-md-6" *ngFor="let bookItem of booksListByAuthor" [setBookItem]="bookItem"></app-book-list-item>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
