<div class="container">

  <nav class="navbar navbar-light bg-transparent">
    <div class="navbar">
      <img src="/assets/img/favicon_main.svg" width="50" height="50" class="d-inline-block navbar-brand align-top" alt="">
      <a class="navbar-brand" href="#" style="font-size: 25pt !important;">
        Library
      </a>
    </div>
  </nav>

  <app-add-book></app-add-book>
  <!-- App Book List -->
  <app-book-list></app-book-list>

  <!-- Footer -->
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">© 2023 SashaFPV </span>
    </div>
  </footer>
</div>  
